!!! XML
%svg{:height => "654", :width => "654", :xmlns => "http://www.w3.org/2000/svg", "xmlns:svg" => "http://www.w3.org/2000/svg"}
  / Created with SVG-edit - http://svg-edit.googlecode.com/
  %g
    %rect#svg_1{:fill => "##{@clrs[0]}", :height => "200", :stroke => "#000000", "stroke-width" => "5", :width => "280", :x => "9.5", :y => "451.499999"}
    %rect#svg_11{:fill => "##{@clrs[1]}", :height => "350", :stroke => "#000000", "stroke-width" => "5", :width => "280", :x => "313", :y => "301.499999"}
