!!! XML
%svg{:height => "40", :width => "40", :xmlns => "http://www.w3.org/2000/svg", "xmlns:svg" => "http://www.w3.org/2000/svg"}
  %g
    %path{:d => "m20.201,5.169c-8.254001,0 -14.946,6.692 -14.946,14.946c0,8.255001 6.691999,14.946001 14.946,14.946001s14.945999,-6.691 14.945999,-14.946001c-0.000999,-8.254 -6.691999,-14.946 -14.945999,-14.946zm0,26.58c-6.425,0 -11.634,-5.208 -11.634,-11.634001c0,-6.425 5.209,-11.634 11.634,-11.634c6.424999,0 11.632999,5.209 11.632999,11.634c0,6.426001 -5.208,11.634001 -11.632999,11.634001z", :fill => "rgba(4,64,87,0.2)"}
    - (1..12).each do |hour|
      - fill = hour > @hour ? "rgba(4,64,87,0.2)" : "#044057"
      %g{:transform => "rotate(#{hour*30}, 20, 20)"}
        %circle{:cx => "20", :cy => "2.3", :fill => fill, :r => "2", :stroke => "#000000", "stroke-dasharray" => "null", "stroke-linecap" => "null", "stroke-linejoin" => "null", "stroke-width" => "0"}
    - (0..360).step(6).each do |deg|
      - stroke = deg < @deg ? "#044057" : "rgba(0,0,0,0)"
      %g{:transform => "rotate(#{deg}, 20, 20)"}
        %path{:d => "m20.300001,5.05c-0.00001,0.989275 -0.028734,1.834 -0.061068,2.758925l-0.038933,0.881075l0.049999,-0.690001", :fill => "none", :stroke => stroke, "stroke-dasharray" => "null", "stroke-linecap" => "null", "stroke-linejoin" => "null", "stroke-width" => "null"}
