!!! XML
%svg{:height => "38", :width => "30", :xmlns => "http://www.w3.org/2000/svg", "xmlns:svg" => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
  %defs
    :css
      .cls-1{fill:##{@bgclr};}
      .cls-3{fill:##{@handclr};stroke:##{@handclr};}
  %g
    %path#svg_1.cls-1{:d => "m14.9,0l0.200001,0a15,15 0 0 1 14.9,14.75c0,9.790001 -10.73,19.700001 -15,23.25l-0.94,-0.799999l0,0c-4.740001,-4.100002 -14.06,-13.33 -14.06,-22.450001a15,15 0 0 1 14.9,-14.75z", :fill => "black"}
    %path#svg_6.cls-3{:d => "m17.407387,4.448063l-8.535971,12.700792l6.703941,0.183332l-2.600703,11.247242l9.709279,-14.425793l-6.703963,-0.244513l1.427417,-9.461061z", "stroke-dasharray" => "null", "stroke-linecap" => "null", "stroke-linejoin" => "miter"}
