%svg#Layer_1{"data-name" => "Layer 1", :height => "38px", :viewbox => "0 0 30 38", :width => "30px", :xmlns => "http://www.w3.org/2000/svg"}
  %defs
    :css
      .cls-1{fill:##{@bgclr};}
      .cls-2{fill:#fff;}
  %path.cls-1{:d => "M14.9,0h.2A15,15,0,0,1,30,14.75C30,24.54,19.27,34.45,15,38l-.94-.8h0C9.32,33.1,0,23.87,0,14.75A15,15,0,0,1,14.9,0Z"}
  %path.cls-2{:d => "M24.1,8.49l-1-2a.83.83,0,0,0-1.48.76l.68,1.33a2.74,2.74,0,0,0-1.88,2.6v2a.63.63,0,0,0,.63.63h1.48V16a1.69,1.69,0,0,1-1.69,1.69h-1V6.94a1.54,1.54,0,0,0-1.54-1.54H10.92A1.94,1.94,0,0,0,9,7.34V21.41A1.54,1.54,0,0,0,7.81,22.9v.93a.63.63,0,0,0,.63.63H20.38a.63.63,0,0,0,.63-.63V22.9a1.54,1.54,0,0,0-1.18-1.49V19.34h1A3.36,3.36,0,0,0,24.19,16V8.87A.83.83,0,0,0,24.1,8.49Zm-6.92,3.14H11.63a.52.52,0,0,1-.52-.52v-3a.52.52,0,0,1,.52-.52h5.56a.52.52,0,0,1,.52.52v3h0A.52.52,0,0,1,17.18,11.63Z"}
