!!! XML
%svg{:height => "38", :width => "30", :xmlns => "http://www.w3.org/2000/svg", "xmlns:svg" => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
  %defs
    :css
      .cls-1{fill:##{@bgclr};stroke:##{@bgclr};}
      .cls-2{fill:none;stroke:#fff;stroke-width:1.5;}
  %g
    %path#svg_7.cls-1{:d => "m14.999996,0.243067c-6.250687,0.157204 -11.429365,2.19046 -14.463983,13.603946l13.757677,23.316581l15.276381,-23.94193c-1.997936,-7.363605 -8.319389,-13.135801 -14.570076,-12.978597z", "stroke-dasharray" => "null", "stroke-linejoin" => "miter", "stroke-width" => "1"}
  - if @is_scooter
    %g#scooter.cls-2
      %line#svg_8{"stroke-dasharray" => "null", "stroke-linecap" => "null", "stroke-linejoin" => "null", :x1 => "18.484084", :x2 => "23.576211", :y1 => "6.139214", :y2 => "12.303368"}
      %ellipse#svg_9{:cx => "9.729198", :cy => "15.69812", :rx => "0.982691", :ry => "1.60804", "stroke-dasharray" => "null", "stroke-linecap" => "null", "stroke-linejoin" => "null"}
      %ellipse#svg_14{:cx => "21.814628", :cy => "15.735343",  :rx => "0.982691", :ry => "1.60804", "stroke-dasharray" => "null", "stroke-linecap" => "null", "stroke-linejoin" => "null"}
      %path#svg_15{:d => "m5.798433,14.179416c0.536014,-0.670017 1.335668,-1.250515 1.518705,-2.090453c0.185484,-0.851171 0.025772,-1.779411 0.354126,-2.588111c0.264465,-0.651348 1.239164,-0.549792 2.139885,-0.388192c0.812782,0.145823 1.760283,0.197979 2.056996,0.98412c0.288129,0.763396 0.987798,0.955891 1.863286,0.955891c0.893118,0 1.734836,0.096205 1.98325,0.857621c0.255983,0.784617 0.952413,1.063154 1.813527,1.018426c0.889982,-0.046227 1.22436,-0.501232 1.223883,-1.393635c-0.000473,-0.884422 0.420815,-1.875541 -0.001862,-2.667412c-0.358929,-0.672441 -1.336281,-0.79659 -2.052856,-1.313977l-0.727906,-0.50278", "stroke-dasharray" => "null", "stroke-linecap" => "null", "stroke-linejoin" => "null"}
      %path#svg_16{:d => "m12.409266,15.966126c0.924563,-0.089335 1.801369,-0.216487 2.689,-0.178671c0.829338,0.035333 1.724177,0.178671 2.6111,0.178671l0.890854,0", "stroke-dasharray" => "null", "stroke-linecap" => "null", "stroke-linejoin" => "null"}
  - else
    %g#car.cls-2
      %ellipse#svg_22{:cx => "9.997205", :cy => "14.8941", :rx => "1.786711", :ry => "1.340034", "stroke-dasharray" => "null", "stroke-linecap" => "null", "stroke-linejoin" => "null"}
      %ellipse#svg_23{:cx => "20.742602", :cy => "14.841987", :rx => "1.786711", :ry => "1.340034", "stroke-dasharray" => "null", "stroke-linecap" => "null", "stroke-linejoin" => "null"}
      %line#svg_24{"stroke-dasharray" => "null", "stroke-linecap" => "null", "stroke-linejoin" => "null", :x1 => "13.391956", :x2 => "17.590728", :y1 => "14.804764", :y2 => "14.804764"}
      %path#svg_25{:d => "m6.602453,13.643402c0.109108,-0.941835 0.300342,-1.783085 0.683179,-2.511209c0.395829,-0.752833 0.657629,-1.556014 1.10313,-2.286513c0.448685,-0.735718 1.20715,-1.156521 1.906227,-1.634439c0.679309,-0.464405 1.549296,-0.727672 2.421828,-0.676687c0.855282,0.049977 1.699221,0.288465 2.580964,0.42357c0.868833,0.133126 1.73688,0.207128 2.560952,0.521124c0.803146,0.306023 1.553417,0.788739 2.297115,1.258202c0.709393,0.447807 1.489513,0.761619 2.177168,1.225446c0.639997,0.431683 0.860479,1.339914 1.153858,2.087356l0.180532,0.833798l0.687332,0.409634", "stroke-dasharray" => "null", "stroke-linecap" => "null", "stroke-linejoin" => "null"}
