!!! XML
%svg{:height => "38", :width => "30", :xmlns => "http://www.w3.org/2000/svg", "xmlns:svg" => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
  / Created with SVG-edit - http://svg-edit.googlecode.com/
  %defs
    :css
      .cls-2{fill:#ffea00;stroke:#ffea00;}
      .cls-1{fill:#fff;stroke:#ffea00;}
      .cls-dog{fill:none;stroke:#000;stroke-width:1.5;}
      .cls-red{fill:none;stroke:#f00;stroke-width:1.5;}
  %g
    %path#svg_1.cls-1{:d => "m14.85233,0l0.19533,0a14.65,14.52632 0 0 1 14.55233,14.28421c0,9.48084 -9.50297,10.16843 -14.65,22.51579c-5.25447,-12.20212 -14.65,-13.68379 -14.65,-22.51579a14.65,14.52632 0 0 1 14.55233,-14.28421l0,0z"}
    %path#svg_1.cls-2{:d => "m30,14.75c0,9.79 -9.73,10.50001 -15,23.25c-4.56,-11.20002 -6.675,-10.03251 -9.635,-13.03c-2.96,-2.9975 -5.365,-5.65999 -5.365,-10.22l30,0z", :fill => "black"}
  %g.cls-dog
    %title Dog
    %path#svg_31{:d => "m11.069232,8.551274c-0.444818,0.759353 -1.242578,0.779758 -2.010051,1.161363c-0.722374,0.359179 -1.155038,1.370893 -0.828915,2.133214c0.30395,0.710492 1.383867,0.360559 1.856274,-0.292901l0.089335,-0.839755", "stroke-dasharray" => "null", "stroke-linecap" => "null", "stroke-linejoin" => "null",}
    %path#svg_32{:d => "m10.622554,13.286059c-0.898463,0.41477 -1.245514,1.124387 -1.288695,1.976936c-0.045836,0.904967 0.089335,1.739423 0.306406,2.580459l0.114305,0.884571l-0.024969,0.79534l-0.299914,0.8155", "stroke-dasharray" => "null", "stroke-linecap" => "null", "stroke-linejoin" => "null", }
    %path#svg_33{:d => "m18.841427,10.248651c1.321033,0 2.583569,0.009733 2.501276,0.821887c-0.090687,0.894999 -0.929037,1.469878 -1.520254,2.2023c-0.545446,0.675719 -0.609138,1.15976 0.075876,1.631387c0.706974,0.486747 1.265825,1.136349 2.010288,1.71703l0.699797,0.506235l0.342453,0.741486", "stroke-dasharray" => "null", "stroke-linecap" => "null", "stroke-linejoin" => "null" }
    %path#svg_34{:d => "m10.533218,13.732738c0.9008,-0.178671 1.804578,-0.178671 2.685188,-0.178671c0.793896,0 1.758592,0.117651 2.567743,0.33197c0.81917,0.216972 1.521683,-0.34686 2.261381,-0.763521l0.704559,-0.461805", "stroke-dasharray" => "null", "stroke-linecap" => "null", "stroke-linejoin" => "null"}
    %path#svg_35{:d => "m10.08654,15.608785c1.126343,0 1.896416,0.249012 2.706868,0.530906c0.823305,0.286364 1.737723,0.020863 2.626584,0.005108c0.897026,-0.0159 1.794834,0.092855 2.617413,-0.134005c0.772953,-0.213174 1.533789,-0.486163 2.418434,-0.838473l0.350969,-0.625825l-0.263302,-0.755928l-0.540718,-0.63665", "stroke-dasharray" => "null", "stroke-linecap" => "null", "stroke-linejoin" => "null"}
    %path#svg_36{:d => "m10.711889,14.268751c1.023637,0.132142 1.882835,0.244795 2.748676,0.33197c0.900245,0.090639 1.816418,0.198507 2.54928,0.203924c0.886646,0.006554 1.877001,0.000104 2.797514,-0.025252l0.873821,-0.063965", "stroke-dasharray" => "null", "stroke-linecap" => "null", "stroke-linejoin" => "null"}
    %path#svg_37{:d => "m19.288103,13.107388c-0.881474,0.183778 -1.715122,0.446796 -1.56848,1.061172l0.300034,0.508632", "stroke-dasharray" => "null", "stroke-linecap" => "null", "stroke-linejoin" => "null"}
    %path#svg_38{:d => "m10.443883,14.715428c1.009492,0.089335 1.886628,0.159359 2.703175,0.322561c0.894662,0.178816 1.739424,0.430121 2.621225,0.48146l0.86852,-0.089336l0.848391,0", "stroke-dasharray" => "null", "stroke-linecap" => "null", "stroke-linejoin" => "null"}
    %polyline#svg_39{:points => "11.60524494946003,16.502140022814274 11.694580517709255,17.431229932606218 11.694580517709255,18.309339011450607 ", "stroke-dasharray" => "null", "stroke-linecap" => "round", "stroke-linejoin" => "null"}
    %path#svg_40{:d => "m14.999996,17.127489", "stroke-dasharray" => "null", "stroke-linecap" => "null", "stroke-linejoin" => "null"}
    %line#svg_41{"stroke-dasharray" => "null", "stroke-linecap" => "null", "stroke-linejoin" => "null", :x1 => "14.821325", :x2 => "13.391956", :y1 => "17.216825", :y2 => "19.271543"}
    %line#svg_42{"stroke-dasharray" => "null", "stroke-linecap" => "null", "stroke-linejoin" => "null", :x1 => "16.876043", :x2 => "17.054715", :y1 => "17.038153", :y2 => "19.539549"}
    %line#svg_43{"stroke-dasharray" => "null", "stroke-linecap" => "null", "stroke-linejoin" => "null", :x1 => "18.841426", :x2 => "19.198768", :y1 => "16.680811", :y2 => "19.092872"}
    %line#svg_44{"stroke-dasharray" => "null", "stroke-linecap" => "null", "stroke-linejoin" => "null", :x1 => "21.521493", :x2 => "20.628137", :y1 => "15.608784", :y2 => "17.931509"}
  %g.cls-red
    %path#svg_45{:d => "m12.409266,9.176623c0.911222,-0.089335 1.756932,-0.178671 2.635399,-0.178671l0.875488,0.089335", "stroke-dasharray" => "null", "stroke-linecap" => "null", "stroke-linejoin" => "null"}
    %path#svg_46{:d => "m11.873252,9.891308c0.997581,0 1.856884,0 2.724734,0.087475l0.8585,0.05969l0.838876,0.120842", "stroke-dasharray" => "null", "stroke-linecap" => "null", "stroke-linejoin" => "null"}
    %path#svg_47{:d => "m12.230594,10.695328c1.103235,0 2.001117,0 2.896379,0l0.888487,0l0.845695,-0.089335", "stroke-dasharray" => "null", "stroke-linecap" => "null", "stroke-linejoin" => "null"}
