%svg#Layer_1{"data-name" => "Layer 1", :height => "38px", :viewbox => "0 0 30 38", :width => "30px", :xmlns => "http://www.w3.org/2000/svg"}
  %defs
    :css
      .cls-1{fill:##{@bgclr};}
      .cls-2{fill:#a0226c;}
      .cls-3{fill:#fefefe;}
  %path.cls-1{:d => "M26.58,0H3.42A3.42,3.42,0,0,0,0,3.42V26.58A3.42,3.42,0,0,0,3.42,30H7l8,8,8-8h3.62A3.42,3.42,0,0,0,30,26.58V3.42A3.42,3.42,0,0,0,26.58,0Z"}
  %path.cls-2{:d => "M15.2,4.88A10,10,0,1,1,5,14.69,10,10,0,0,1,15.2,4.88ZM19,18.09c0,1.35,0,2.28,0,3.2,0,.24,0,.58.15.69s.54-.09.77-.24a8.44,8.44,0,1,0-3.48,1.45c.66-.13,1-.33,1-1.11,0-2.08.07-2.08-2.11-2.16-1.63-.07-2.27-.7-2.29-2.33,0-1.38-.08-2.77,0-4.15a3.61,3.61,0,0,0-1.38-3.51c-.45-.34-1-.86-.33-1.45s1.06,0,1.46.45c1.28,1.28,2.46,2.66,3.81,3.84C18.42,14.3,19.62,16,19,18.09Zm-4.41-5.29c0,1.83,0,3.26,0,4.7,0,.4,0,.82.55.81.76,0,1.82.44,2.2-.26a2.39,2.39,0,0,0-.14-2.49C16.47,14.66,15.61,13.89,14.57,12.81Z"}
  %path.cls-3{:d => "M19,18.09c.64-2.08-.57-3.79-2.36-5.35-1.36-1.18-2.54-2.56-3.81-3.84-.4-.4-.81-1-1.46-.45s-.12,1.12.33,1.45a3.61,3.61,0,0,1,1.38,3.51c-.1,1.38,0,2.77,0,4.15,0,1.63.66,2.26,2.29,2.33,2.17.09,2.13.09,2.11,2.16,0,.78-.35,1-1,1.11a8.54,8.54,0,0,1-9.7-6.6A8.44,8.44,0,1,1,19.9,21.73c-.23.16-.48.47-.77.24s-.14-.45-.15-.69C19,20.37,19,19.45,19,18.09Z"}
  %path.cls-3{:d => "M14.57,12.81c1,1.08,1.9,1.86,2.61,2.75a2.39,2.39,0,0,1,.14,2.49c-.38.71-1.44.24-2.2.26-.5,0-.55-.41-.55-.81C14.57,16.07,14.57,14.63,14.57,12.81Z"}
