Current Location:
%br
%span#cityname
%p

%center.center
  %button{ :onclick => "updateLocation()" }
    Update
    %img#spinner.hide{:src=>"/images/spinner.gif" }
#cityloader.hide
  City data being loaded ...
  %img{ :src => "/images/spinner.gif" }
#carloader.hide
  Car data being loaded ...
  %img{ :src => "/images/spinner.gif" }

= you_marker_car_sharing_company
%a{ :href => "#", :onclick => "changeCsc(event)" } Change
