Current Location:
%br
%span#cityname
%p

%center.center
  %button.btn{ :onclick => "updateLocation()" }
    Update
#cityloader.hide
  City data being loaded ...
  %img.loader{ :src => "/images/loader.svg" }
#carloader.hide
  Car data being loaded ...
  %img.loader{ :src => "/images/loader.svg" }

= you_marker_car_sharing_company
%a.btn{ :href => "#", :onclick => "changeCsc(event)" } Change
