.tooltip
  %h3.tooltip__title
    Current Location:
  %span#cityname
  %p

  .tooltip__content
    %button.btn.btn--small{ :onclick => "updateLocation()" }
      Update
    .tooltip__loader
      #cityloader.hide
        %img.loader{ :src => "/images/loader.svg" }
        City data being loaded ...
      #carloader.hide
        %img.loader{ :src => "/images/loader.svg" }
        Car data being loaded ...
