- [[:getgeoloc,"location"], [:getdncity,"city"], |
  [:getcardata,"cars"]].each do |id, txt|
  %div.hide.center{ :id => id }
    = "Locating your #{txt} ...."
    %img{ :src => '/images/spinner.gif' }

#map
#timestamp
%form
  %input#autoupdate{ :type => :checkbox, :name => "autoupdate" }
    %label{ :for => "autoupdate" } Automatic Update

:javascript
  var map, infowin, youmarker, ym_base_content, csc, glb_city,
               carmarkers = [], fsmarkers = [], directionsDisplay;

  ym_base_content = #{@ym_base_content};
  csc = "#{params[:csc]}";

%script{:async => "", :defer => "defer", :src => "/j/notify.js"}
%script{:async => "", :defer => "defer", :src => "/j/code.js"}
%script{:async => "", :defer => "defer", :src => "/j/automatic_update.js"}
%script{:async => "", :defer => "defer", :src => "/google.js"}
