#mainhowto
  %center
    Collect Bonus Minutes by fuelling cars.
    %p
    Every car sharing company gives drivers who fuel their cars bonus minutes.
    To make it easier to find the cars that need fuelling, this site will
    show you the closest three cars that need fuelling. In addition, the
    closest petrol stations (to the cars) are also shown - not all car sharing
    companies use the same petrol stations.
    %p
    Ensure your location is turned on and allow this site to access your
    location. We do not store your location or send it to the car sharing
    company, we only use it to determine the closest cars to you.
    %p
    #cscselectors.hide
      %a.sltcsc{ :href => "#", :data => { :csc => 'dnw'} } DriveNow (30 bonus mins)
      %br
      %a.sltcsc{ :href => "#", :data => { :csc => 'mcy'} } Multicity (15 bonus mins)
      %br
      %a.sltcsc{ :href => "#", :data => { :csc => 'ctg'} } Car2Go (10 bonus mins)
      %br
      %a.sltcsc{ :href => "#", :data => { :csc => 'all'} } All companies
    #locationmsg
      Obtaining your location, please wait...
      %img{ :src => "/images/spinner.gif" }
      %p
      Please ensure location is turned on and supported by your device.
      %a#retrybutton.hide.button{ :href=>"#" } Retry
  .bottom
    If you would like to contact the
    %a{ :href=>'https://github.com/gorenje/' } author
    or view the
    %a{ :href => 'https://github.com/gorenje/drivenow' } code,
    both are hosted at
    %a{ :href => "https://github.com" } GitHub.

#mainmap.hide
  #map
  #timestamp
  %form#autoform
    %input#autonotify{ :type => :checkbox, :name => "autonotify" }
      %label{ :for => "autonotify" } Auto. Notify
    %input#autoupdate{ :type => :checkbox, :name => "autoupdate" }
      %label{ :for => "autoupdate" } Auto. Update

:javascript
  var map, infowin, youmarker, ym_base_content, csc, glb_city,
      carmarkers = [], fsmarkers = [], directionsDisplay;

- ["notify","geolocation","code","autoupdate","nav","google"].each do |filename|
  %script{:async => "", :defer => "defer", :src => "/j/#{filename}.js"}
