// --------------------------
// General
@include grid();
@include links-buttons();

// --------------------------
// Application

// Brand
.brand {
  fill: $color2;
}

// Header
.header {
  background: url($url-images + 'bg_main.jpg') no-repeat center top;
  background-size: cover;

  &__nav {
    padding: $spacer-20 0;
  }

  .brand {
    margin: 0 auto;
    display: block;
    width: 225px;
    height: 55px;
  }

  @include media(small) {
    &__nav {
      padding: $spacer-20 0 0;
      height: 80px;
    }
    .brand {
      margin: 0;
      width: 215px;
      height: 45px;
    }
  }
}

// Feature
.feature {
  @include align-absolute-middle(inherit);
  &__title {
    font-size: $font-size-24;
    font-weight: 400;
    margin: 0;
    strong {
      display: block;
      font-weight: 900;
    }
  }
  &__texts {
    text-align: left;
  }
  &__deco {
    display: none;
  }

  @include media(small) {
    &__deco {
      display: block;
    }
    &__title {
      font-size: $font-size-30;
      font-weight: 400;
    }
  }
}

// Location
.location {
  font-weight: 300;
  @include align-absolute-middle(inherit, false, 100%, center, center);
  &__icon {
    fill: $color2;
    width: $spacer-30;
    height: 36px;
    margin-right: $spacer-20;
  }
  &__sign {
    text-align: left;
  }

  @include media() {
    margin-top: -$spacer-20;
    margin-bottom: $spacer-30;
    padding: $spacer-20;
    background-color: $color3;
  }

  @include media(small) {
    position: absolute;
    right: 0;
    top: 0;
    @include transform(translate(-$spacer-40, $spacer-40));
    &__icon {
      order: 2;
      margin-left: $spacer-20;
      margin-right: 0;
    }
  }
}

// Selector
.selector {
  background-color: $color-white;
  padding: $spacer-20 0;
  &__wrapper {
    max-width: 800px;
  }
  &__list {
    max-width: 300px;
    margin: $spacer-30 auto;
    &-item {
      background-color: $color4;
      overflow: hidden;
      padding: $spacer-15;
      border-radius: $spacer-10;
      margin: 0 $spacer-5;
      font-weight: 900;
      color: $color-white;
      display: block;
      cursor: pointer;
      box-shadow: 0 5px 0 rgba($color2, .5);
      @include transition(background-color $transitions);
      &:hover {
        background-color: lighten($color4, 5%);
      }
    }
  }
  &__note {
    display: block;
    font-size: $font-size-14;
    font-weight: 300;
  }
  &__title {
    font-size: $font-size-24;
  }
  &__texts {
    font-size: $font-size-12;
    @include text-line-height($font-size-16);
  }

  @include media(small) {
    padding: $spacer-40 0;
    &__list {
      max-width: initial;
    }
    &__title {
      font-size: $font-size-18;
    }
    &__texts {
      max-width: 600px;
      margin: 0 auto;
    }
  }
}

// Map
.map {
  background-color: $color3;

  &__location {
    padding: $spacer-20 0;
  }

  &__settings {
    font-size: $font-size-14;
    font-weight: 400;
    #autonotifyform {
      margin-top: $spacer-10;
    }
  }
  .brand {
    width: 140px;
    height: 40px;
  }

  .providers__selector {
    display: inline-block;
    margin-left: $spacer-10;
  }

  @include media() {
    &__settings {
      padding: $spacer-10 $spacer-20 $spacer-20;
      .grid {
        padding: 0;
      }
      &-menu {
        text-align: left;
      }
    }
  }

  @include media(small) {
    &__settings {
      padding: $spacer-20;
      &-brand {
        text-align: left;
      }
      &-menu {
        text-align: right;
      }
      .grid {
        @include align-items(center);
      }
    }
  }
}

// Providers
.providers {
  padding: $spacer-40 0;
  background: url($url-images + 'bg_main.jpg') no-repeat center top;
  background-size: cover;
  &__list-item {
    margin: $spacer-20 0;
  }

  @include media(small) {
    padding: $spacer-40 0 $spacer-80;
    &__list {
      @include align-absolute-middle(inherit);
      &-item {
        display: inline-block;
        margin: 0 $spacer-20;
      }
    }
  }
}

// Webapp
.webapp {
  background-color: $color-white;
  &__device {
    text-align: right;
    margin-top: -($spacer-60);
    img {
      margin-bottom: -4px;
    }
  }
  &__title {
    font-size: $font-size-28;
  }
  &__texts {
    padding-left: $spacer-10;
    text-align: left;
    @include align-absolute-middle(inherit);
  }

  @include media() {
    display: none;
  }
}

// Footer
.footer {
  padding: $spacer-40 0;
  background-color: $color3;
  &__icon {
    fill: $color2;
    width: 160px;
    height: 21px;
  }
  &__nav {
    margin-bottom: 8px;
    li {
      margin: 0 $spacer-10;
      display: inline-block;
      text-decoration: underline;
    }
  }
  &__texts {
    margin: 0;
    font-size: $font-size-12;
  }

  @include media(small) {
    &__nav {
      text-align: right;
      li {
        margin-left: $spacer-20;
      }
    }
    .grid__column {
      text-align: left;
      &:last-child {
        text-align: right;
      }
    }
  }
}
