@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');

*,
*:before,
*:after {
  @include prefixer(box-sizing, border-box);
  @include no-selection();
}
html,
body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
body {
  display: block;
  background-color: $color3;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: $font-family;
  color: $color1;
}
img {
  max-width: 100%;
  height: auto;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
a {
  text-decoration: none;
}
p {
  font-weight: 300;
  font-size: $font-size-14;
  @include text-line-height($font-size-24);
  @include media(small) {
    font-size: $font-size-18;
    @include text-line-height($font-size-28);
  }
}
h2 {
  font-size: $font-size-18;
  letter-spacing: 1px;
  @include media(small) {
    font-size: $font-size-20;
  }
}
ul,li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.loader {
  display: block;
  margin: 0 auto;
  // display: inline-block;
  // vertical-align: middle;
}

.hide {
  display: none;
}

.bold {
  font-weight: bold;
}

a.button {
  font-size: $font-size-18;
}

p.cardetails, p.fsdetails {
  font-size: $font-size-14;
}

.btn {
  &.hide {
    display: none;
  }
}

.ft_supere10 {
  color: $color-ft-supere10;
}

.ft_super {
  color: $color-ft-super;
}

.ft_electro {
  color: $color-ft-electro;
}

.ft_diesel {
  color: $color-ft-diesel;
}

.wt_doable {
  color: $color-wt-doable;
}
.wt_easy {
  color: $color-wt-easy;
}
.wt_toolong {
  color: $color-wt-too-long;
}
